<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="log4netConfig" value=".\log4net.config"/>
  </appSettings>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4netlib.MyPatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%type{1}] - %message%newline" />
      </layout>
    </appender>

    <appender name="MyRollingFileAppender" type="WindowsFormsApp5.MyRollingFileAppender">
      <file value="log4net\log.txt" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Composite" />-->
      <datePattern value="_yyyyMMdd-HHmmss" />
      <preserveLogFileNameExtension value="true"/>
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1KB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="MyRollingFileAppender" />
    </root>
    <logger name="log4netlib" additivity="true">
      <level value="ERROR" />
    </logger>
    <logger name="log4netlib.LoggingUtility">
      <level value="FATAL" />
    </logger>
    <logger name="LG">
      <level value="ALL" />
    </logger>
    <logger name="EV">
      <level value="ALL" />
    </logger>
  </log4net>

</configuration>
